function indexOf (arr, val) {
    return arr.indexOf(val) !== -1;
}
function toFixed (str, len) {
    return str.toFixed(len);
}
function find (arr, key, value) {
    for (var i = 0; i < arr.length; i++) {
        if (arr[i][key] === value) {
            return arr[i];
        }
    }
}
function join(arr, str) {
    return arr.join(str);
}
function replaceAll (target, str, newStr) {
    return target.replace(getRegExp(str,'g'), newStr)
}
// 获取银行卡后四位
function getBankCodeLastFour (str) {
    var len = str.length;
	return str.substring(len - 4, len);
}
// 身份证号脱敏
function hiddenIdCard(str) {
    var len = str.length;
	return str.substring(0, 3) + '***********' + str.substring(len - 4, len);
}
// 手机号脱敏
function hiddenPhone(str) {
    var len = str.length;
	return str.substring(0, 3) + '****' + str.substring(len - 4, len);
}
module.exports = {
    indexOf: indexOf,
    toFixed: toFixed,       
    find: find,
    getBankCodeLastFour: getBankCodeLastFour,
    hiddenIdCard: hiddenIdCard,
    replaceAll: replaceAll,
    hiddenPhone: hiddenPhone,
    join: join
};
